@import './class/p.css';
@import './class/invert.css';
@import './class/width.css';
@import './class/slideshow.css';
/*@import './class/flex.css';*/
@import './class/card.css';
@import './class/inp.css';


/* namespace-less classes (well known / defacto standards) */

/*
## naming
.sr-only:
- tailwind
- firefox-reader-mode

.visually-hidden:
- h5bp (main.css)
- bootstrap
- drupal
- firefox-reader-mode
*/
.visually-hidden {
    position: absolute !important;
    padding:0 !important;
    border:0 !important;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    overflow: clip; /* ch90 ff29 */
    xcontent: url(); /* new idea, ok? screenreaders will read filename */
    xcontain:strict; /* performance? */
    xwhite-space: nowrap; /* why */
    xmargin-left:-1px; /* can not reproduce  */
}
