.u1-inp {
    display: inline-flex;
    width: 13rem;
    white-space: nowrap;
}
.u1-inp > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.u1-inp > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.u1-inp > button {
    flex: 0 1 auto;
}
.u1-inp > input {
    flex: 1 1 auto;
    width: 4rem;
}