
.u1-width {
    max-width:var(--width);
    margin:auto;
    padding-left:var(--gap);
    padding-right:var(--gap);
    box-sizing:content-box;
}
/* remove padding on nested width-containers */
.u1-width .u1-width {
    padding-left:0;
    padding-right:0;
}
